@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&family=Space+Grotesk:wght@300..700&display=swap");
@import "tailwindcss";

@theme {
  --color-neonBlack: #070707;
  --color-neonWhite: #ffffff;
  --color-neonGray: #cccccc;
  --color-neon1: #ff003c;
  --color-neon2: #ff41e1;
  --color-neon3: #ff9d00;
  --color-neon4: #00ffe7;
}

.grainy-overlay {
  position: absolute;
  inset: 0;
  background-image: url("/noise.png");
  opacity: 0.3;
  pointer-events: none;
  z-index: 1;
  mix-blend-mode: soft-light;
}

body {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  outline: none;
  list-style: none;
  text-decoration: none;
}
h1,
h2,
h3 {
  font-family: "Space Grotesk", sans-serif;
}

p,
a,
span,
li,
button {
  font-family: "Sora", sans-serif;
}

.neon {
  opacity: 0.45;
  filter: blur(100px);
  mix-blend-mode: screen;
  animation: neonPulse 8s ease-in-out infinite;
}

@keyframes neonPulse {
  0% {
    opacity: 0.45;
    transform: scale(1);
  }
  50% {
    opacity: 0.6;
    transform: scale(0.7);
  }
  100% {
    opacity: 0.45;
    transform: scale(1);
  }
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
